@use 'sass:math';

.listado-servicios {
  @include tablet {
    @include grid(2, 2rem);
  }

  .servicio {
    background-color: $blanco;
    padding: math.div($separacion, 2);
    border-radius: 1rem;
    width: 95%;
    margin: 0 auto;
    margin-bottom: math.div($separacion, 2);
    &:last-of-type {
      margin-bottom: 0;
    }

    @include tablet {
      width: 100%;
      margin: 0;
    }

    p {
      margin: 0 0 math.div($separacion, 4) 0;
    }

    .nombre-servicio {
      color: $negro;
    }

    .precio-servicio {
      font-size: 3rem;
      font-weight: $bold;
      color: $verde;
      margin: 0;
    }
    &.seleccionado {
      background-color: $verde;
      p {
        color: $blanco;
      }
    }
  }
}
